<!--En este archivo definimos la parte grafica/visual.
    Cada elemento grafico esta representado con una etiqueta que va
    entre signos mayor y menor.
    Si queremos cambiar el formato, lo hacemos colocando el atributo "class"
    dentro de la etiqueta con el nombre del formato de css. -->
<h1 class="color-rojo">Hola Mundo, como andas?</h1>
<h2 class="color-rojo">todo bien</h2>
<h5 class="octavio">OCTAVIO</h5>
<h3>GOOLLLL</h3>

<!--Con la etiqueta BR se hace un salto de linea sin interlineado.
        La etiqueta "p" es para generar un parrafo-->
<!--Con la etiqueta "b" se pone negrita-->
<!--Con la etiqueta "i" letra italica-->
<!--Con la etiqueta "u" subraya-->
<!--Con la etiqueta "span" te habilita para darle atributos sin estar preformateada-->
<!--Con la etiqueta "hr" aparece una linea horizontal-->

<p>
  Fue el miembro más importante de una de las familias de músicos más destacadas
  de la historia, con más de 35 compositores famosos.<br />
  Tuvo una <u> gran fama como organista y clavecinista en toda Europa</u> por su
  gran técnica y capacidad de improvisar música al teclado.
</p>
<hr />
