.color-rojo {
    color: red;
    background-color: rgb(30, 210, 39);
    font-family: fantasy;
    text-align: center;
  }
  .octavio {
    color: cornflowerblue;
    background-color: violet;
    text-align: end;
  
  }