<p>
    Su fecunda obra es considerada
    <span class="octavio">cumbre de la música barroca</span> ; destaca en ella su
    <b>profundidad intelectual</b>, su perfección técnica y su belleza artística,
    además de la síntesis de los diversos estilos nacionales de su época y del
    pasado.
  </p>
  
  <!--Con la etiqueta "div" se genera un bloque -->
  <!--Con la etiqueta "a" se pone links, el atributo "target" direcciona donde se 
  abre el link, con el "_blank" se abre en un nuevo sitio-->
  <!--Con la etiqueta "img" se agrega una imagen, con el atributo "src"-->
  
  <div class="atributo">
    <h4>texto1</h4>
    <h5>texto2</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi at
      sapiente, praesentium, odit reiciendis animi aut vitae velit doloremque
      molestias ipsam accusamus quod saepe corporis vel culpa autem consequuntur.
      Cumque.
    </p>
  </div>
  
  <hr />
